.template_footer {
  text-align: center;
}

.gray_menu .webix_view {
  background-color: #EDEFF0;
}

.green_template {
  color: green;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.rank {
  background-color: #F4F5F9;
}

.row_hover {
  background-color: #EDEFF0;
}

.remove_icon {
  float: right;
  margin-top: 8px;
}

.webix_view .five .webix_list_item:nth-child(-n+5) {
  background-color: #f1f9f9;
}
