.template_footer {
  text-align: center;
}

.gray_menu .webix_view {
  background-color: #EDEFF0;
}

.green_template {
  color: green;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.rank {
  background-color: #F4F5F9;
}

.row_hover {
  background-color: #EDEFF0;
}

.remove_icon {
  float: right;
  margin-top: 8px;
}

.highlight {
  background-color: yellow;
}

.webix_el_myThreeStateButton.webix_state_0 button {
  background-color: #80f7c5;
  color: #062def;
}

.webix_el_myThreeStateButton.webix_state_1 button {
  background-color: #f789ad;
  color:#fff;
}

.webix_el_myThreeStateButton.webix_state_2 button {
  background-color: #f4f75d;
  color: #565740;
}
